<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get User Media Code Along!</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>

  <div class="photobooth">
    <div class="controls">
      <p id="description"> Do you look better with a perfectly symmetrical face? Probably not. Inspired by the Real Science Questions Podcast episode
        - Why The Face? <a id="podlink" href="https://rsqpodcast.libsyn.com/2-why-the-face-part-1">Listen to the Episode here</a> or on Spotify.
       Take a photo and save your best at the bottom. Tweet us @RSQpodcast with your best! </p>
      
      <button class="mainbuttons" onClick="takePhoto()">Take Photo</button>
      <button class="mainbuttons" onClick="switchLeftRight()">Switch Side</button>
<!--       <div class="rgb">
        <label for="rmin">Red Min:</label>
        <input type="range" min=0 max=255 name="rmin">
        <label for="rmax">Red Max:</label>
        <input type="range" min=0 max=255 name="rmax">

        <br>

        <label for="gmin">Green Min:</label>
        <input type="range" min=0 max=255 name="gmin">
        <label for="gmax">Green Max:</label>
        <input type="range" min=0 max=255 name="gmax">

        <br>

        <label for="bmin">Blue Min:</label>
        <input type="range" min=0 max=255 name="bmin">
        <label for="bmax">Blue Max:</label>
        <input type="range" min=0 max=255 name="bmax">
      </div> -->
    </div>

    <canvas class="photo"></canvas>
    <video class="player"></video>
    <div class="strip"></div>
  </div>

  <audio class="snap" src="./snap.mp3" hidden></audio>

  <script src="{{url_for('static', filename='scripts.js')}}"></script>

</body>
</html>
